# ===================================================================
# artellapipe-tools-alembicmanager requirements file
# ===================================================================
artellapipe
artellapipe-libs-alembic
